/cocosstudio
/proj.linux
/proj.win8.1-universal
/proj.win10
/proj.android
/proj.android-studio
/proj.ios_mac
/cocos2d
/Resources
/.cocos-project.json
/CCGameNet.ccs
/CCGameNet.cfg
/CCGameNet.udf
/CMakeLists.txt
/config.json
/proj.win32/Debug.win32

*.lib
*.dll
*.obj
*.pdb
*.tlog
*.sdf
*.opendb